<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=<?php echo $cfg_soft_lang; ?>"/>
            <title>管理员帐号--删除帐号</title>
            <link href="style/common.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <div class="main">
            <table width="100%" border="0" align="center" cellpadding="3" cellspacing="1" bgcolor="#c8ddff">
                <tr>
                    <td height="24" class="td_title"> 
                        <table width="100%" border="0" cellspacing="1" cellpadding="1">
                            <tr> 
                                <td width="24%" class="td_p8"><b>删除帐号</b> </td>
                                <td width="76%" align="right" class="td_pr8">
                                    <input type="button" onclick="window.location.href='sys_admin_user.php'" value="返回管理" class="btn2"/>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td height="215" align="center" valign="top" bgcolor="#FFFFFF">
                        <form name="form1" action="sys_admin_user_del.php" method="post">
                            <input type="hidden" name="dopost" value="delectme" />
                            <input type="hidden" name="id" value="<?php echo $row['id'];?>" />
                            <table width="98%" border="0" cellspacing="1" cellpadding="1">
                                <tr> 
                                    <td width="16%" height="30">用户登录ID：</td>
                                    <td width="84%" style="text-align:left;"><?php echo $row['userid'];?></td>
                                </tr>
                                <tr> 
                                    <td height="30">用户笔名：</td>
                                    <td style="text-align:left;">
                                        <?php echo $row['uname'];?>
                                    </td>
                                </tr>
                                <tr> 
                                    <td height="30">用户类型：</td>
                                    <td style="text-align:left;"><?php echo $tphtml;?></select>
                                    </td>
                                </tr>
                                <tr> 
                                    <td height="30">真实姓名：</td>
                                    <td style="text-align:left;"><?php echo $row['tname'];?></td>
                                </tr>
                                <tr> 
                                    <td height="30">电子邮箱：</td>
                                    <td style="text-align:left;"><?php echo $row['email'];?></td>
                                </tr>
                                <tr> 
                                    <td height="30">安全验证串：</td>
                                    <td style="text-align:left;">
                                        <input name="safecode" type="text" id="safecode" size="16" style="width:200px" />
                                        <input name="randcode" type="hidden" value="<?php echo $randcode; ?>" />
                                        &nbsp;(复制本代码： <font color='red'><?php echo $safecode;  ?></font> )
                                    </td>
                                </tr>
                                <tr> 
                                    <td height="60">&nbsp;</td>
                                    <td align="left">
                                        <input type="submit" name="Submit" value=" 删除用户 " class="btn1" />
                                    </td>
                                </tr>
                            </table>
                        </form>
                    </td>
                </tr>
            </table>
        </div>
    </body>
</html>