<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title>全景热点</title>
        <link href="style/common.css" rel="stylesheet" type="text/css"/>
        <script type="text/javascript" src="js/jquery.js"></script>
        <script type="text/javascript" src="js/photocenter.js"></script>
        <script type="text/javascript">
            $(document).ready(function(){
                $(".imgspan").mouseover(function(){
                    var theurl = $(this).attr("img");
                    $(this).parent().children(".picbox").show();
                    $(this).parent().children(".picbox").children("img").attr("src",theurl);
                });
                $(".imgspan").mouseout(function(){
                    $(this).parent().children(".picbox").hide();
                });
            });
        </script>
        <style type="text/css">
            .picbox{
                width : 120px; height: 120px; overflow: hidden; position: absolute;
                margin-top: -70px; margin-left: -120px; background: #fff; border: 1px solid #ace;
                display: none;
            }
            .imgspan{
                cursor: pointer;
            }
        </style>
    </head>
    <body>
        <div class="main">
            <table width="100%" border="0" cellpadding="0" cellspacing="0" style="margin-top:4px" bgcolor="#c8ddff" align="center">
                <tr>
                    <td height="36"  class="td_title" style="border:1px solid #c8ddff; border-bottom:none; padding: 0px 10px;">
                        <b>热点添加菜单 - {lulin:global.id function="getname(@me);"/}</b>
                    </td>
                </tr>
            </table>
            <table width="100%" border="0" cellpadding="2" cellspacing="1" bgcolor="#c8ddff">
                <tr class="tr_hui" height="30" align="left">
                    <td colspan="4" class="td_p8">
                        <input type="button" onclick="window.location.href = 'vrpano_spot_add.php?aid={lulin:global.id/}';" value="添加新热点" class="btn2"/>
                        <input type="button" onclick="window.location.href = '{lulin:global.endurl/}';" value="返回上级" class="btn1"/>
                        <input type="button" onclick="window.open('tool/lookscene/index.php?id={lulin:global.id/}');" value="预览" class="btn1"/>
                    </td>
                </tr>
                <tr class="tr_hui" height="30" align="center">
                    <td width="20%">
                        <b>热点名称</b>
                    </td>
                    <td width="20%">
                        <b>样式</b>
                    </td>
                    <td width="15%">
                        <b>特效开启</b>
                    </td>
                    <td width="45%">
                        <b>操作</b>
                    </td>
                </tr>
                {lulin:datalist row='20'}
                <tr class="tr_white">
                    <td align="center">[field:title/]</td>
                    <td align="center">[field:id function="getaction(@me);"/]</td>
                    <td align="center">[field:openaction function="getopenaction(@me);"/]</td>
                    <td align="center">
                        <input type="button" onclick="window.location.href = 'vrpano_spot_edit.php?id=[field:id/]';" value="修改" class="btn1"/>
                        <input type="button" onclick="window.location.href = 'vrpano_spot_del.php?id=[field:id/]';" value="删除" class="btn1"/>
                    </td>
                </tr>
                {/lulin:datalist}
                <tr align="center" class="tr_white" height="46"> 
                    <td colspan="4">
                        {lulin:pagelist listsize="5"/}
                    </td>
                </tr>
            </table>
        </div>
    </body>
</html>