<!DOCTYPE html>
<html>
    <head>
        <title>全景生成精灵-安装程序</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=100"/>
        <link href="style.css" rel="stylesheet" type="text/css" />
        <script type="text/javascript" src="pano/js/vrpano.js"></script>
    </head>
    <body>
        <div style="display:none" id="toper"></div>
        <div id="main">
            <div class="printer">
                <div class="printer_title">全景生成精灵安装完成</div>
                <div class="printer_body">
                    <div class="endbox"><center>
                        <input type="button" onClick="window.location.href = '../admin';" value="进入后台" class="btn1"/>&nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="button" onClick="window.location.href = '../';" value="查看首页" class="btn1"/>
                    </center></div>
                    <div class="pano" id="pano"><iframe src="http://www.jum8.com/quanjing/ce/" style="border:none; padding;0px; margin:0px; overflow:hidden;" height="500" width="876"></iframe></div>
                    

                </div>
            </div>
        </div>
    </body>
</html>
